* {
  font-family: Georgia, "Times New Roman", Times, serif;
}
p,
ul {
  line-height: 2em;
}

body {
  display: flex;
  background-image: url("pattern-7455773_1920.png");
  background-size: cover;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
main {
  border-radius: 10px;
  padding: 15px 25px;
  width: 100%;
  max-width: none;
  display: flex;
  flex-direction: column;
  text-align: center;
}
h1 {
  color: #ffddd2;
  font-size: 10vh;
}
a {
  color: #b7495f;
  text-decoration: none;
  font-size: 2.5vh;
}
a:hover {
  color: #b7497c;
  text-decoration: underline dotted;
}
.options {
  display: flex;
  align-items: center;
  align-self: center;
}
.home,
.city,
.projects,
.aboutme {
  margin: 20px;
}

body {
  animation-name: moving-background;
  animation-duration: 50s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: normal;
  animation-direction: normal;
  background-attachment: scroll;
}

@keyframes moving-background {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -5000px;
  }
}

h1 {
  animation-name: moving-name;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
}
@keyframes moving-name {
  0% {
    color: #ffddd2;
  }
  50% {
    color: #b36d8d;
  }
  100% {
    color: #ffddd2;
  }
}
