* {
  font-family: Georgia, "Times New Roman", Times, serif;
}
html {
  background-color: #b5838d;
}
p,
ul {
  line-height: 2em;
}
img {
  width: 90%;
  padding: 50px;
  margin: 30px;
}
body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-content: center;
}

.container {
  background-color: #ffddd2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  padding: 50px;
  margin: 80px;
}
header {
  margin-top: -250px;
}
a:hover {
  color: rgb(56, 231, 198);
  transition: all 0.5s;
}
h1,
h2 {
  color: #6d6875;
  background-color: #ffcdb2;
  display: inline;
}
h1:hover {
  color: #b5838d;
  text-decoration: underline dotted;
}
h2:hover {
  color: #b5838d;
  text-decoration: underline dotted;
}
